h1, p {
  font-family: Lato;
}

.drop-zone {
  border: 1px solid grey;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 2em;
}

.file-upload-container {
  width: 25%;
  height: 250px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding-top: 3%;
}

.file-upload-form {
  display: flex;
  flex-direction: column;
}

.file-to-upload {
  
}

.file-name-input {
  margin-top: 1%;
  margin-bottom:10%;
  height: 30px;
  padding-left: 5%;
}

.file-upload-button {
  margin-top: 5%;
  height: 40px;
  background-color: rgb(235, 48, 69, .80);
  border-color: rgb(235, 48, 69);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 18px;
  letter-spacing: 2px;
}

.file-upload-label {
  margin-bottom: 10%;
}