.add-employee-form-container {
  width: 25%;
  height: 450px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-employee-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-user-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.add-user {
  height: 30px;
  width: 45%;
}

.add-user-name {
  height: 30px;
  width: 40%;
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-left: 2%;
}

.add-user-adress-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.add-user-address {
  height: 30px;
  width: 30%;
  margin-left: 2%;
  padding-left: 2%;
  margin-bottom: 5%;
}

.add-user-city {
  height: 30px;
  width: 15%;
  margin-left: 2%;
  padding-left: 2%;
  margin-bottom: 5%;
}

.add-user-state {
  height: 30px;
  width: 15%;
  margin-left: 2%;
  padding-left: 2%;
  margin-bottom: 5%;
}

.add-user-zip {
  height: 30px;
  width: 15%;
  margin-left: 2%;
  padding-left: 1%;
  margin-bottom: 5%;
}

.add-user-phone {
  height: 30px;
  width: 80%;
  margin-left: 2%;
  /* margin-top: 5%; */
  margin-bottom: 5%;
  padding-left: 2%;
}

.add-user-email {
  height: 30px;
  width: 80%;
  margin-left: 2%;
  /* margin-top: 5%; */
  margin-bottom: 5%;
  padding-left: 2%;
}

.select-role {
  height: 30px;
  width: 80%;
  margin-bottom: 5%;
}

.submit-new-employee {
  height: 30px;
  width: 80%;
  background-color: rgb(235, 48, 69);
  border-color: rgb(235, 48, 69);
  color: #fff;
  font-size: 15px;
}

.submit-new-employee:hover {
  background-color: #fff;
  color: rgb(235, 48, 69);
}