.header {
  width: 100%;
}

.new-hire-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.new-hire-title-container {
  height: 175px;
  margin-top: 5%;
  width: 60%;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.new-hire-title {
  font-size: 30px;
  font-weight: 800;
}

.new-hire-sub-title {
  font-size: 24px;
  line-height: .1;
  color: rgb(235, 48, 69);
}

.new-hire-sub-color {
  font-weight: 200;
  font-size: 24px;
  line-height: .3;
}

.type-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.type-sub-container {
  height: 175px;
  width: 20%;
  background-color: #fff;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plus-button {
  height: 60%;
  width: 60%;
  background-repeat: no-repeat;
  background-image: url('../../assets/plus.png');
  background-position: center;
}

.plus-button:hover {
  background-image: url('../../assets/plus-red.png');
}

.type-title {
  font-size: 18px;
  font-weight: 200;
  color: #eb3045;
}