.employee-widget-container {
  width: 45%;
  height: 250px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employee-button {
  height: 50%;
  width: 50%;
  background-image: url('../../assets/add.png');
  background-size: cover;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.employees-title {
  font-weight: 400;
  font-size: 16px;
}