.open-folder-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* padding: 5%; */
}

.open-folder-body {
  height: 100%;
  width: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.open-folder-title-container {
  height: 100px;
  width: 25%; 
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

.upload-files-in-folder {
  width: 100%;
  height: 100%;
  margin-top: 3%;
}

.open-folder-back {
  height: 100px;
  width: 50px; 
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  margin-top: 3%;
}

.open-folder-back-icon {
  height: 80%;
  width: 80%;
  background-image: url('../../assets/open.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.open-folder-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
}